.disaster{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(228, 229, 231); */
    padding: 40px;
}
.link{
    height: 60vh;
    padding: 20px;
    border-radius: 2px;
    background-color: rgb(194, 192, 192);
}
.link:hover{
    color: white;
    background-color: rgb(155, 154, 154);
}
.disaster>a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.text{
    width: 50vw;
    margin-right: 0px;
}
.text>h1{
    font-size: 35px;
    margin: 20px 0 20px 50px;
}
.text>div{
    font-size: 25px;
}
.photu{
    margin-top: 60px;
    margin-right: -90px;
    width: 40vw;
}
.photu>img{
    height: 40vh;
    width: 60vh;
    object-fit: cover;
}