.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: rgb(45, 52, 65);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.footer>div>a>img{
    height: 9vh;
    margin: 20px;
}
.homeHeadingButtons2 a{
    background-color: rgb(139, 207, 226) !important;
    font-size: 25px !important;
    padding: 12px 21px !important;
    font-weight: 600 !important;
    text-decoration: none;
    color:rgb(29, 27, 27) !important;
    border-radius: 3px !important;
}
.homeHeadingButtons2{
    padding: 20px;
    margin-left: 200px;
}
.homeHeadingButtons2 a:hover{
    background-color: white !important;
}