.button{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(111, 185, 206) !important;
    font-size: 15x;
    text-align: center;
    text-decoration: none;
    color:rgb(14, 13, 13) !important;
    border-radius: 4px;
}

.button:hover{
    background-color: white !important;
}

.footer{
    
    height: 10vh;
    background-color: rgb(45, 52, 65);
}
.footer>h1{
    color: white;
    padding: 20px;
    text-align: center;
    padding: 0;
    margin: auto;
    font-size: 25px;
}