.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: rgb(45, 52, 65);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.footer>a>img{
    height: 9vh;
    margin: 20px;
}